.homeContainer {
  /* display: flex; */
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.formContainer {
  padding: 2rem;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .formContainer {
    width: 70vw;
  }
}
